/* NAVBAR */
.login {
    margin: auto;
}

.searchbar {
    width: 60%;
}


/* CATEGORIES NAVBAR */
.catnav li {
    margin:auto;
}
.catnav a {
    color: white;
    text-align: center;
}
.catnav .active {
    margin-top: 10px;
}


/* CAROUSEL */
.tales {
  width: 100%;
}

.carousel {
    margin-top: 50px;
    margin-bottom: 150px;

}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}


/* PRODUCTS */

.popular {
    margin: auto;
}

.card-body {
    height: 200px;
}
.card h5, p, a {
    text-align: center;
}
.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card a, h5 {
    width: 100%;
    margin-top: 10%;
}
.card {
    height: 353px;
    width: 288px;
    margin: auto;
}
.card img {
    max-height: 288px;
    min-height: 288px;
    max-width: 288px;
    min-width: 288px;
}
/* FOOTER */

footer {
    margin-top: 200px;
    color: white;
}

/* REGISTER */

    .window {
        margin: auto;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: aqua;
    }